.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-style-default {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.bg-gradient-lg(@deg: 175.3deg) {
  background: linear-gradient(@deg, transparent @gradient-gray-height + @gradient-grey-shift-lg, @light-grey2 @gradient-gray-height + @gradient-grey-shift-lg + 1) no-repeat;
}

.paddings-h(@padding) {
  padding-right: @padding;
  padding-left: @padding;
}

.bg-image-gradient-gray(@deg: 174.3deg) {
  background-image: linear-gradient(@deg, transparent @gradient-gray-height, @light-grey2 @gradient-gray-height + 1);
  background-repeat: no-repeat;
}
