.wrapper {
  .wrapper--sm();

  @media (min-width: @width-lg) {
    max-width: @width-lg;
    padding-right: @padding-lg;
    padding-left: @padding-lg;
  }
}

.header .wrapper {
  position: relative;

  display: grid;
  align-items: center;

  grid-template-columns: auto auto;
  grid-template-rows: minmax(@height-header-sm, min-content) min-content;

  @media (min-width: @width-md) {
    align-items: end;

    grid-template-rows: minmax(@height-header-md, min-content) min-content;
  }
}

.wrapper--sm() {
  width: 100%;
  margin: 0 auto;
  padding-right: @padding-sm;
  padding-left: @padding-sm;
}

.wrapper--stretched(@margin: @padding-sm) {
  margin-right: -@margin;
  margin-left: -@margin;
}

.wrapper--stretched() {
  margin-right: -@padding-sm;
  margin-left: -@padding-sm;

  @media (min-width: @width-lg) {
    margin-right: -@padding-lg;
    margin-left: -@padding-lg;
  }
}
