.wrapper {
  .wrapper--sm();

  @media (min-width: @tablet-width) {
    max-width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
    padding-right: @padding-h-lg;
    padding-left: @padding-h-lg;
  }
}

.wrapper--sm() {
  width: 100%;
  max-width: @mobile-width;
  margin: 0 auto;
  padding-right: @padding-h-smd;
  padding-left: @padding-h-smd;
}
