.wrapper {
  .wrapper--sm();

  @media (min-width: @width-md) {
    max-width: @width-md;
  }

  @media (min-width: @width-lg) {
    max-width: @width-lg;
    padding-right: @padding-lg;
    padding-left: @padding-lg;
  }
}

.wrapper--sm() {
  width: 100%;
  max-width: @width-sm;
  margin: 0 auto;
  padding-right: @padding-sm;
  padding-left: @padding-sm;
}
