.achievements {
  .paddings-h(@padding-sm);

  padding-top: 39px;
  padding-bottom: 47px;

  @media (max-width: @width-md-only) {
    background-color: @light-grey2;
  }

  @media (min-width: @width-md) {
    padding-top: 0;
    padding-bottom: 55px;
  }

  @media (min-width: @width-lg) {
    padding-right: 0;
    padding-bottom: 14px;
    padding-left: 0;
  }
}

.achievements__list {
  .list-style-default;

  display: grid;
  max-width: 830px;

  grid-template-columns: 1fr;
  row-gap: 52px;

  @media (min-width: @width-lg) {
    display: block;
    width: 820px;
    margin-right: 60px;
    margin-left: 60px;

    column-count: 3;
    column-gap: 95px;
  }
}

.achievements__item {
  @media (min-width: @width-lg) {
    width: max-content;
    margin-bottom: 48px;
    padding-top: 4px;
  }
}

.achievements__label {
  max-width: 260px;

  @media (min-width: @width-md) and (max-width: @width-lg-only) {
    max-width: 550px;
  }
}
