.achievements {
  background-color: @light-grey2;
}

.achievements__list {
  .list-style-default;

  display: flex;

  flex-direction: column;

  @media (min-width: @width-lg) {
    display: flex;
    //todo is there a better way to cause columns wrapping?
    max-height: 228px;

    flex-direction: column;
    flex-wrap: wrap;
  }
}

.achievements__item {
  &:not(:last-of-type) {
    margin-bottom: 47px;
  }

  @media (min-width: @width-lg) {
    flex: 0 0 33.3%;
  }
}

.achievements__label {
  // same as .control__label::before check-mark left position
  padding-left: 56px;
}
