
.button-form {
  padding: 14.5px 45px;

  font-size: 18px;
  line-height: 167%;
  font-weight: bold;
  color: #ffffff;

  text-transform: uppercase;
  background-color: @light-green;
  border: 2px solid @light-green;
  border-radius: 1px;
}
