.contest__form-submit {
  margin-bottom: 46px;
}

.contest__form-legend {
  margin: 0;

  font-size: 14px;
  line-height: 2.14;
  color: @blue-gray;

  text-transform: uppercase;
}

.contest__form-legend-star {
  color: @pinky-red;
}
