.contest__form-submit {
  display: flex;
  align-items: center;

  flex-direction: column;

  @media (min-width: @width-md) {
    justify-content: space-between;

    column-gap: 10px;
    flex-direction: row;
  }
}

.contest__form-legend {
  margin: 34px 0 0;

  font-size: 14px;
  line-height: 2.14;
  color: @blue-gray;

  text-transform: uppercase;

  @media (min-width: @width-md) {
    margin: 0;
  }
}

.contest__form-legend-star {
  color: @pinky-red;
}

.contest__form-legend-desktop-note {
  display: none;

  @media (min-width: @width-lg) {
    display: inline;
  }
}
