.contacts {
  padding-top: 42px;

  color: @blue-gray;
}

.contacts__map {
  display: block;
  width: 320px;
  height: 200px;
  margin-right: auto;
  margin-left: auto;

  border: none;

  background-image: url("../../img/map.png");

  @media (max-resolution: 2dppx) {
    background-image: url("../../img/map@2x.png");
  }

  @media (min-width: @width-md) {
    width: 660px;
    height: 374px;

    background-image: url("../../img/map-tablet.png");

    @media (max-resolution: 2dppx) {
      background-image: url("../../img/map-tablet@2x.png");
    }
  }

  @media (min-width: @width-lg) {
    width: 1200px;
    height: 502px;

    background-image: url("../../img/map-desktop.png");

    @media (max-resolution: 2dppx) {
      background-image: url("../../img/map-desktop@2x.png");
    }
  }
}

.contacts__map-wrapper {
  position: relative;

  width: fit-content;
  max-width: @width-lg;
  margin-right: auto;
  margin-left: auto;

  &::before,
  &::after {
    position: absolute;
    top: 0;

    height: 33px;

    content: "";

    @media (min-width: @width-md) {
      height: 70px;
    }

    @media (min-width: @width-lg) {
      height: 150px;
    }
  }

  &::after {
    right: 0;
    left: 50%;

    background: linear-gradient(to left top, transparent 50%, #ffffff 0) no-repeat;
  }

  &::before {
    right: 50%;
    left: 0;

    background: linear-gradient(to right top, transparent 50%, #ffffff 0) no-repeat;
  }
}

.contacts__wrapper {
  position: relative;

  display: grid;
  margin-bottom: 22px;

  text-align: center;

  @media (min-width: @width-md) {
    margin-bottom: 10px;

    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @width-lg) {
    margin-bottom: 26px;

    grid-template-columns: repeat(3, 1fr);
  }
}

.contacts__title {
  margin-bottom: 33px;

  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;

  @media (min-width: @width-md) {
    margin-bottom: 31px;

    font-size: 40px;
    line-height: 1.35;

    grid-column: 1 / -1;
  }
}

.contacts__type {
  z-index: 1;

  margin: 0;

  font-style: normal;
  font-size: 18px;
  line-height: 1.39;
  font-weight: bold;
}

.contacts__type--phone {
  margin-bottom: 17px;

  @media (min-width: @width-md) {
    margin-left: -11px;
  }
}

.contacts__type--write {
  margin-bottom: 21px;

  @media (min-width: @width-md) {
    margin-left: 11px;
  }
}

.contacts__type--address {
  margin-bottom: 10px;

  @media (min-width: @width-md) {
    margin-top: 22px;
  }
}

address.contacts__type {
  @media (min-width: @width-md) {
    grid-column: 1 / -1;
  }

  @media (min-width: @width-lg) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.contacts__type-text,
.contacts__type-link {
  font-size: 24px;
  line-height: 1.37;
  font-weight: 300;
  color: @pinky-red;

  @media (min-width: @width-md) {
    line-height: 1.47;
  }
}

.contacts__type-link {
  display: block;

  text-decoration: none;

  &:hover {
    color: @blue-gray;

    text-decoration: underline;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__type-text {
  margin: 0;

  font-style: normal;
}
