.contacts {
  padding-top: 50px;

  color: @blue-gray;

  &::after {
    display: block;
    width: 320px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;

    content: "";
    background-image: url("../../img/map.png");
    grid-column: 1 / -1;

    @media (min-width: @tablet-width) {
      width: 660px;
      height: 374px;

      background-image: url("../../img/map-tablet.png");
    }

    @media (min-width: @desktop-width) {
      width: 1200px;
      height: 502px;

      background-image: url("../../img/map-desktop.png");
    }
  }
}

.contacts__wrapper {
  display: grid;
  margin-bottom: 40px;

  text-align: center;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.contacts__title {
  margin-bottom: 45px;

  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;

  @media (min-width: @tablet-width) {
    grid-column: 1 / -1;
  }
}

.contacts__type {
  margin: 0;

  font-style: normal;
  font-size: 18px;
  line-height: 1.39;
  font-weight: bold;

  &:not(:last-child) {
    @media (max-width: @tablet-width) {
      margin-bottom: 34px;
    }
  }
}

address.contacts__type {
  @media (min-width: @tablet-width) {
    grid-column: 1 / -1;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.contacts__type-text,
.contacts__type-link {
  font-size: 24px;
  line-height: 1.37;
  font-weight: 300;
  color: @pinky-red;
}

.contacts__type-link {
  display: block;

  text-decoration: none;
}

.contacts__type-text {
  margin: 0;

  font-style: normal;
}
