.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: 1.28;
  color: @blue-gray;

  text-decoration: none;

  &:hover .copyright__logo {
    fill: @blue-gray;
  }

  &:active .copyright__logo {
    opacity: 0.3;
  }

  @media (min-width: @width-lg) {
    font-size: 18px;
    line-height: 1;
  }
}

.copyright__logo {
  margin-left: 15px;

  fill: @pinky-red;
}
