
.emotions__title {
  margin-bottom: 22px;
}

.emotions__label {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 129%;
  margin-bottom: 22px;
  color: @pinky-red;
}

.emotions__text {
  font-size: 18px;
  line-height: 167%;
  color: @blue-gray;
  padding: 22px 20px;

  border: none;
  outline: 2px solid @light-grey2;
  border-radius: 1px;
  min-height: 197px;
  //margin-bottom: 52px;

  &::placeholder {
    color: @blue-gray;
  }
}
