.footer {
  padding-top: 40px;

  text-align: center;

  @media (min-width: @width-md) {
    padding-top: 37px;
  }

  @media (min-width: @width-lg) {
    padding-top: 70px;
  }
}

.footer__wrapper {
  display: flex;
  align-items: center;

  flex-direction: column;

  @media (min-width: @width-md) {
    justify-content: space-between;
    align-items: flex-start;

    flex-direction: row;
  }
}

.footer__logo {
  margin-bottom: 34px;
}

.social.footer__social {
  margin-bottom: 39px;

  @media (min-width: @width-md) {
    margin-left: -13px;
  }

  @media (min-width: @width-lg) {
    margin-left: 10px;
  }
}

.footer__logo-image {
  margin-right: 12px;

  fill: @pinky-red;
}

.footer__logo-text {
  fill: @blue-gray;
}

.footer__logo:hover .footer__logo-text {
  fill: @pinky-red;
}

.footer__logo:active .footer__logo-text {
  fill: @blue-gray;
}

.footer__copyright {
  margin-bottom: 40px;

  @media (min-width: @width-md) {
    margin-top: 10px;
  }
}
