.footer {
  padding-top: 40px;

  text-align: center;
}

.footer__wrapper {
  display: flex;

  flex-direction: column;

  @media (min-width: @width-md) {
    justify-content: space-between;

    flex-direction: row;
  }
}

.footer__logo {
  margin-bottom: 41px;
}

.footer__logo-image {
  margin-right: 12px;

  fill: @pinky-red;
}

.footer__logo-text {
  fill: @blue-gray;

  &:hover {
    fill: @pinky-red;
  }

  &:active {
    fill: @blue-gray;
  }
}

.footer__copyright {
  margin-bottom: 40px;
}
