.form {
  display: flex;

  flex-direction: column;

  @media (min-width: @width-lg) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__fieldset {
  margin-right: 0;
  margin-left: 0;
  padding: 42px 0 44px;

  border: none;
}

.form__emotions {
  padding-bottom: 52px;

  text-align: center;

  order: -2;
}

.form__device {
  padding-bottom: 42px;

  order: -4;

  @media (min-width: @width-md) {
    order: -8;
  }
}

.form__person-contacts {
  order: -6;

  .form__input-label {
    @media (min-width: @width-md) {
      order: 2;
    }
  }

  .form__group-title {
    display: none;

    @media (min-width: @width-md) {
      display: block;
    }

    @media (min-width: @width-lg) {
      flex: 0 0 100%;
    }
  }

  .form__input-text-item {
    @media (min-width: @width-lg) {
      flex: 1 1 auto;
    }
  }

  .form__fieldset-wrapper {
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;

    @media (min-width: @width-md) {
      padding-right: 60px;
      padding-left: 60px;
    }

    @media (min-width: @width-lg) {
      flex-direction: row;
      column-gap: 74px;
    }
  }

  @media (min-width: @width-lg) {
    flex: 0 0 100%;
  }
}

.form__achievements {
  order: -8;

  @media (min-width: @width-md) {
    order: -4;
  }

  @media (min-width: @width-lg) {
    flex: 0 0 100%;
  }
}

.form__person-name {
  padding-top: 0;

  order: -10;

  .form__input-text-item {
    @media (min-width: @width-md) {
      margin-top: 2px;

      flex-direction: row;
    }
  }

  .form__input-label {
    @media (min-width: @width-md) {
      margin-right: 20px;
    }
  }
}

.form__group-title {
  margin-bottom: 44px;

  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: @pinky-red;

  text-transform: uppercase;
}

.form__input-text-item {
  display: flex;

  flex-direction: column;

  &:not(:last-of-type) {
    margin-bottom: 29px;
  }
}

.form__input-label {
  display: block;
  margin-bottom: 17px;
  margin-left: 23px;

  font-size: 14px;
  line-height: 2.14;
  color: @pinky-red;

  text-transform: uppercase;
}

.form__input-text {
  display: block;
  width: 100%;
  padding: 23px 0 23px 20px;

  font-size: 18px;
  line-height: 1.67;
  color: @blue-gray;

  border: none;
  border-radius: 1px;

  outline: 2px solid @light-grey;

  &::placeholder {
    color: @blue-gray;
  }
}
