.header {
  position: relative;

  color: #ffffff;

  background-color: @header-bg-color;

  .wrapper {
    position: relative;

    display: grid;
    align-items: center;

    grid-template-columns: auto auto;
    grid-template-rows: minmax(@height-header-sm, min-content) min-content;

    @media (min-width: @width-md) {
      align-items: end;

      grid-template-rows: minmax(@height-header-md, min-content) min-content;
    }
  }

  &.header--nojs,
  &.header--nav-opened {
    @media (max-width: @width-lg-only) {
      background-color: @blue-gray;
    }
  }
}

.header__logo {
  line-height: 0;

  @media (min-width: @width-md) {
    margin-bottom: @margin-bottom-header-md;
  }
}

.header__logo-image {
  display: none;

  @media (min-width: @width-md) {
    display: inline-block;
  }
}

.header__nav-toggle {
  position: relative;

  display: block;
  width: 50px;
  height: 24px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  justify-self: end;

  @media (min-width: @width-lg) {
    display: none;
  }

  @media (min-width: @width-md) {
    margin-bottom: @margin-bottom-header-md;
  }
}

.header--nojs .header__nav-toggle {
  display: none;
}

.header--nav-closed .header__nav-toggle::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 4px;

  background-color: #ffffff;
  border-radius: 1px;

  content: "";
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
}

.header--nav-closed .header__nav-toggle:hover::before {
  background-color: @pinky-red;

  box-shadow: 0 10px 0 0 @pinky-red, 0 20px 0 0 @pinky-red;
}

.header--nav-closed .header__nav-toggle:active::before {
  background-color: @pinky-red;
  opacity: 0.3;

  box-shadow: 0 10px 0 0 @pinky-red, 0 20px 0 0 @pinky-red;
}

.header--nav-opened .header__nav-toggle {
  width: 23px;
  height: 23px;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    right: -3px;

    width: 29px;
    height: 3px;

    background-color: #ffffff;

    content: "";
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: @pinky-red;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}

.header__main-nav {
  line-height: 0;

  grid-column: 1 / -1;

  @media (max-width: @width-lg-only) {
    .wrapper--stretched(@padding-sm);

    position: absolute;
    top: @height-header-sm;
    right: 0;
    left: 0;
  }

  @media (min-width: @width-md) {
    top: @height-header-md;
  }

  @media (min-width: @width-lg) {
    margin-right: -10px;
    margin-bottom: 39px;
    margin-left: 162px;

    grid-column: 2 / 3;
  }
}
