.header {
  color: #ffffff;

  background-color: @header-bg-color;
}

.header__logo {
  height: 100%;
  //todo: why it has bigger size with non-zero line-height even if there is no text here?

  line-height: 0;
}

.header__logo-image {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 21px;

  @media (min-width: @tablet-width) {
    padding-top: 27px;
    padding-bottom: 43px;
  }
}

.header__main-nav {
  line-height: 0;
}
