.image-toggles {
  display: flex;
  justify-content: center;
  align-items: center;

  column-gap: 35px;

  @media (min-width: @width-md) {
    display: grid;

    grid-template-rows: repeat(3, 1fr);
  }

  @media (min-width: @width-lg) {
    margin-top: 10px;
  }
}

.image-toggles__button {
  position: relative;

  background-color: transparent;
  border: none;
  opacity: 0.3;

  @media (min-width: @width-md) {
    opacity: 1;

    fill: @pinky-red;
  }

  &.slider__toggle--current {
    opacity: 1;

    fill: @pinky-red;
  }

  &--crop {
    @media (min-width: @width-md) and (max-width: @width-lg-only) {
      width: 22px;
      height: 22px;
    }
  }

  &--fill {
    @media (min-width: @width-md) and (max-width: @width-lg-only) {
      width: 24px;
      height: 22px;
    }
  }

  &--sharpness {
    @media (min-width: @width-md) and (max-width: @width-lg-only) {
      width: 16px;
      height: 16px;
    }
  }
}
