.info {
  font-size: 14px;
  line-height: 1.71;
  font-weight: normal;
  text-align: center;
  color: @blue-gray;
}

.info__title {
  padding: 46px 0 70px 0;

  font-weight: 300;
  text-align: center;
}

.info__list {
  margin: 0;
  padding: 53px 0 0;
}

.info__effect {
  display: none;
  padding-top: 50px;

  @media (min-width: @width-md) {
    display: flex;
  }
}

.info__effect::before {
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 238px;
  min-height: 276px;
  padding-top: 31px;

  font-size: 96px;
  font-weight: bold;
  color: @pinky-red;

  content: "24";
  background: url("../../img/timer.svg") center no-repeat;
}

.info__effect-title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: bold;
  color: #000000;
}

.info__effect-link {
  color: @pinky-red;

  text-decoration-line: underline;
}
