
.info {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
  color: @blue-gray;
}

.info__title {
  padding: 46px 0 70px 0;

  font-weight: 300;
  text-align: center;
}

.info__list {
  margin: 0;
  padding: 53px 0 0;
}

.info__effect {
  padding-top: 50px;
}

.info__effect-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

.info__effect-link {
  color: @pinky-red;

  text-decoration-line: underline;
}
