

.intro__wrapper {
  text-align: center;
}

.intro__title {
  display: block;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}

.intro__top {
  position: relative;
  text-align: center;
  color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    top: -66px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url("../../img/back-mobile.jpg") @blue-gray;
    background-size: cover;
  }

  &--index {
    padding-top: 29px;
  }

  &--contest {
    padding-top: 36px;
    padding-bottom: 51px;
  }

  &--catalog {
    padding-top: 36px;
    padding-bottom: 84px;
  }
}

.intro__top-image {
  display: inline-block;
  vertical-align: top;
}

.intro__bottom--index {
  color: #ffffff;
  background-color: #1d2631;
  padding-top: 28px;
  padding-bottom: 38px;
}

.intro__bottom--contest {
  color: @blue-gray;
  background-color: #ffffff;
  padding-top: 54px;
  padding-bottom: 55px;
}

.intro__bottom--catalog {
  color: @blue-gray;
  background-color: #ffffff;
  padding-top: 54px;
  padding-bottom: 60px;
}

.intro__button-download {
  display: inline-flex;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  padding: 15.5px 0;
  width: 280px;
  border: 3px solid #ffffff;
  border-radius: 29px;
  color: inherit;
  text-decoration: none;
  margin-bottom: 38px;
}

.intro__store-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 31px;
}

.intro__store-item {
  &:not(:last-of-type) {
    margin-right: 35px;
  }
}

.intro__note-text {
  margin: 0;
}

.intro__text {
  margin: 0;
  font-size: 14px;
  line-height: 214%;
  color: @blue-gray;
}
