.list-info {
  .list-style-default;

  position: relative;

  display: grid;

  grid-template-rows: repeat(4, min-content);

  @media (min-width: @width-md) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
  }

  @media (min-width: @width-lg) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, min-content);
  }
}

.list-info::before {
  display: inline-block;
  width: 157px;
  height: 277px;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;

  content: "";
  background: url("../../img/effect-friends.png") top no-repeat;
  grid-row: -2 / -1;

  @media (min-width: @width-md) {
    width: 268px;
    height: 447px;
    margin-top: 0;
    margin-left: 0;

    grid-row: 1 / -1;
    background: url("../../img/effect-friends-tablet.png") top no-repeat;
  }

  @media (min-width: @width-lg) {
    display: none;
  }
}

.list-info__item {
  z-index: 2;

  &:not(:last-child) {
    margin-bottom: 43px;
  }

  @media (min-width: @width-md) {
    margin-left: 20px;

    text-align: left;

    grid-column: 2 / 3;
  }

  @media (min-width: @width-lg) {
    text-align: center;

    grid-row: 2 / 3;
    grid-column: unset;
  }

  &::before {
    display: block;
    width: 186px;
    height: 301px;
    margin-right: auto;
    margin-left: auto;

    grid-row: 1 / 2;

    @media (min-width: @width-lg) {
      content: "";
    }
  }
}

.list-info__title {
  margin-bottom: 24px;

  font-size: 18px;
  line-height: 1.33;
  font-weight: bold;
  color: #000000;

  &::before {
    position: relative;
    z-index: -1;

    display: block;
    width: 300px;
    height: 17px;
    margin-right: auto;
    margin-left: auto;

    opacity: 0.3;

    transform: translateY(-50%);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.8%, rgba(0, 0, 0, 0) 93.23%);
    filter: blur(4px);

    @media (min-width: @width-lg) {
      content: "";
    }
  }
}

.list-info__text {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 1.71;
}

.list-info__item--mood::before {
  @media (min-width: @width-lg) {
    background: url("../../img/effect-mood-lg.png") top no-repeat;
  }
}

.list-info__item--change::before {
  @media (min-width: @width-lg) {
    background: url("../../img/effect-change-lg.png") top no-repeat;
  }
}

.list-info__item--friends::before {
  @media (min-width: @width-lg) {
    background: url("../../img/effect-friends-lg.png") top no-repeat;
  }
}
