.logo {
  display: inline-block;
  width: fit-content;

  color: inherit;

  cursor: pointer;

  fill: #ffffff;
  text-decoration: none;

  &:hover {
    fill: @pinky-red;
  }

  &:active {
    opacity: 0.3;

    fill: #ffffff;
  }
}
