.main-nav {
  z-index: 1;

  @media (max-width: @width-lg-only) {
    background-color: @blue-gray;

    border-top: 1px solid #000000;
  }
}

@media (max-width: @width-lg-only) {
  .header--nav-closed .main-nav {
    display: none;
  }

  .header--nav-opened .main-nav {
    display: block;
  }

  .header--nojs .main-nav {
    position: static;

    display: block;
  }
}

.main-nav__list {
  .list-style-default;

  display: flex;

  flex-wrap: wrap;
  flex-direction: column;
  column-gap: 59px;

  @media (min-width: @width-lg) {
    flex-direction: row;
  }
}

.main-nav__item {
  display: block;
  width: 100%;

  text-align: center;

  @media (min-width: @width-lg) {
    display: inline-flex;
    justify-content: center;
    width: fit-content;
  }
}

.main-nav__link {
  display: block;
  min-height: 64px;
  padding-top: 16px;
  padding-bottom: 14px;

  font-style: inherit;
  font-size: 18px;
  line-height: 1.78;
  font-weight: bold;
  color: inherit;

  text-transform: uppercase;

  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid #000000;
  text-decoration: none;

  &:not(.main-nav__link--current):hover {
    color: @pinky-red;
  }

  &:active {
    opacity: 0.3;

    @media (min-width: @width-md) {
      color: #ffffff;
    }
  }

  @media (min-width: @width-lg) {
    min-height: unset;
    padding: 7px 10px;

    line-height: 1;
    font-weight: normal;

    text-transform: none;
    border: none;
  }
}

@media (min-width: @width-lg) {
  .main-nav__link--current {
    position: relative;

    &::before {
      position: absolute;
      right: 8px;
      bottom: -6px;
      left: 8px;

      height: 2px;

      background-color: #ffffff;

      content: "";
    }
  }
}
