
.post-item {
  text-align: center;
}

.post-item__image {
  display: inline-block;
  vertical-align: top;
}

.post-item__legend {
  text-align: left;
  padding: 25px 10px 26px 17px;
  color: @blue-gray;
  background-color: @light-grey;
}

.post-item__author {
  display: inline-block;
  margin-bottom: 14px;
}

.post-item__date {
  font-weight: 300;
  font-size: 12px;
  line-height: 200%;
}

.post-item__text {
  font-size: 14px;
  margin: 0 0 25px;
  line-height: 171%;
  color: @blue-gray;
}

.post-item__likes-label {
  margin: 0 0 0 31px;
  color: @pinky-red;
  font-size: 12px;
  line-height: 200%;
  text-transform: uppercase;
}

.post-item__likes-value {
  color: @pinky-red;
}
