.posts-list {
  display: grid;

  @media (min-width: @width-md) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @media (min-width: @width-lg) {
    max-width: 940px;
    padding-right: 0;
    padding-left: 0;

    grid-template-columns: repeat(3, 1fr);
    row-gap: 54px;
  }
}
