.post-item {
  text-align: center;
}

.post-item__image {
  display: inline-block;

  vertical-align: top;
}

.post-item__legend {
  padding: 25px 10px 26px 17px;

  text-align: left;
  color: @blue-gray;

  background-color: @light-grey;
}

.post-item__author {
  display: inline-block;
  margin-bottom: 14px;
}

.post-item__date {
  font-size: 12px;
  line-height: 2;
  font-weight: 300;
}

.post-item__text {
  margin: 0 0 25px;

  font-size: 14px;
  line-height: 1.71;
  color: @blue-gray;
}

.post-item__likes-label {
  margin: 0 0 0 31px;

  font-size: 12px;
  line-height: 2;
  color: @pinky-red;

  text-transform: uppercase;
}

.post-item__likes-value {
  color: @pinky-red;
}
