.reviews {
  padding-top: 43px;

  font-size: 14px;
  line-height: 2.14;
  text-align: center;

  @media (min-width: @width-md) {
    padding-top: 33px;
  }

  @media (min-width: @width-lg) {
    padding-top: 72px;
  }

  &::before {
    display: inline-block;
    width: 79px;
    height: 63px;

    background-image: url("../../img/quotes.png");

    @media (min-width: @width-lg) {
      content: "";
    }
  }
}

.reviews__wrapper {
  @media (min-width: @width-lg) {
    position: relative;

    margin-top: 40px;
  }
}

.slider__list.reviews__list {
  max-width: 690px;
  margin-right: auto;
  margin-bottom: 32px;
  margin-left: auto;
}

.reviews__item {
  display: flex;
  margin: 0;
  padding: 0;

  text-align: center;

  flex-direction: column;
}

.reviews__signature {
  margin-bottom: 11px;

  @media (min-width: @width-md) {
    margin-top: 36px;
    margin-bottom: 2px;

    order: 2;
  }
}

.reviews__author-name {
  margin-bottom: 17px;

  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;

  @media (min-width: @width-md) {
    font-size: 20px;
  }

  @media (min-width: @width-lg) {
    font-size: 24px;
    line-height: 1.25;
  }
}

.reviews__author-info {
  display: none;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 2.14;

  @media (min-width: @width-md) {
    display: block;
  }

  @media (min-width: @width-lg) {
    font-size: 18px;
    line-height: 1.67;
  }
}

.reviews__text {
  margin: 0;

  @media (min-width: @width-md) {
    font-size: 18px;
    line-height: 30px;
  }
}

.reviews__toggles {
  display: flex;
  justify-content: center;
  margin: 0;

  flex-wrap: wrap;
  column-gap: 13px;

  @media (min-width: @width-lg) {
    position: absolute;
    top: 28px;
    right: @padding-lg;
    left: @padding-lg;

    justify-content: space-between;
  }
}

.reviews__toggle {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;

  background-color: lighten(@blue-gray, 70%);
  border: 3px solid #ffffff;
  border-radius: 50%;

  @media (min-width: @width-lg) {
    display: none;

    &:first-of-type,
    &:last-of-type {
      display: block;
      width: 22px;
      height: 41px;

      background-color: transparent;
      border: none;
      border-radius: unset;
      opacity: 0.3;

      background-image: url("../../img/arrow-left.svg");
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.1;
      }
    }

    &:last-of-type {
      transform: rotate(180deg);
    }
  }
}

.slider__toggle--current.reviews__toggle {
  @media (max-width: @width-lg-only) {
    border: 3px solid @blue-gray;
  }
}
