
.upload {
  padding-bottom: 41px;

  background-color: @light-grey2;
}

.upload__title {
  padding-bottom: 52px;

  font-size: 14px;
  line-height: 214%;
  text-align: center;
  color: @blue-gray;

  background-color: #ffffff;
}

.upload__image {
  padding-bottom: 42px;

  text-align: center;
}

.upload__image-preview {
  display: inline-block;

  vertical-align: top;
}

.upload__toggles {
  display: block;
  margin: 0 0 39px;
}

.upload__controls {
  margin-bottom: 73px;
}

.upload__controls-list {
  display: block;
  margin: 0;
  padding: 0;
}

.upload__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  padding: 15.5px 0;

  font-size: 18px;
  line-height: 100%;
  font-weight: bold;
  color: @pinky-red;

  border: 3px solid @pinky-red;
  border-radius: 30px;

  &:not(:last-of-type) {
    margin-bottom: 12px;
  }
}

.upload-reset {
  color: @blue-gray;

  opacity: 0.1;

  border-color: @blue-gray;
}
