.upload {
  display: grid;
  padding-bottom: 41px;

  grid-template-rows: repeat(3, min-content);

  @media (max-width: @width-lg-only) {
    background-color: @light-grey2;
  }

  @media (min-width: @width-md) {
    align-items: start;
    padding-bottom: 52px;

    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @width-lg) {
    position: relative;

    margin-bottom: 30px;
    padding-bottom: 57px;

    grid-template-rows: min-content min-content auto;
    grid-auto-rows: min-content;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      right: @padding-lg;
      bottom: 0;
      left: @padding-lg;
      z-index: -1;

      background-color: @light-grey2;

      content: "";
    }
  }
}

.upload__title {
  padding-bottom: 42px;

  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  color: @blue-gray;

  background-color: #ffffff;

  grid-column: 1 / -1;

  @media (min-width: @width-md) {
    padding-bottom: 70px;

    font-size: 18px;
    line-height: 1.67;
  }

  @media (max-width: @width-lg-only) {
    .wrapper--stretched(@padding-sm);
  }

  @media (min-width: @width-lg) {
    padding-bottom: 67px;
  }
}

.upload__image {
  padding-top: 20px;
  padding-bottom: 42px;

  text-align: center;

  background-color: @light-grey2;

  @media (min-width: @width-md) {
    padding-top: 57px;
    padding-right: 10px;
    padding-bottom: 0;

    grid-row: 2 / -1;
  }

  @media (min-width: @width-lg) {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
  }
}

.upload__image-preview {
  display: inline-block;

  vertical-align: top;

  @media (min-width: @width-md) {
    width: 100%;
    height: auto;
  }
}

.upload__toggles {
  margin: 0;

  grid-column: 1 / -1;

  @media (max-width: @width-md-only) {
    margin-bottom: 24px;
    margin-left: -12px;
  }

  @media (min-width: @width-md) {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    row-gap: 50px;
    justify-items: center;
  }

  @media (min-width: @width-lg) {
    row-gap: 28px;
  }
}

.upload__controls {
  position: relative;

  display: grid;
  padding-bottom: 68px;

  background-color: @light-grey2;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-column: 1 / -1;

  @media (max-width: @width-md-only) {
    .wrapper--sm();
  }

  @media (min-width: @width-md) {
    align-items: start;
    padding-top: 64px;
    padding-bottom: 0;
    padding-left: 40px;

    grid-column: 2 / 3;
    grid-template-columns: min-content auto;
    column-gap: 28px;
  }

  @media (min-width: @width-lg) {
    padding-top: 45px;
    padding-left: 0;

    column-gap: 42px;
  }

  &::before {
    position: absolute;
    top: 120px;
    right: -1000px;
    left: -1000px;

    height: 1px;

    background-color: @blue-gray-10;

    content: "";

    @media (min-width: @width-md) {
      top: 112px;
      right: 0;
      left: 35px;

      box-shadow: 0 72px 0 0 @blue-gray-10, 0 144px 0 0 @blue-gray-10;
    }

    @media (min-width: @width-lg) {
      top: 112px;
      right: 60px;
      left: 0;

      box-shadow: 0 72px 0 0 @blue-gray-10;
    }
  }
}

.upload__controls-list {
  display: grid;
  padding: 0;

  grid-column: 1 / -1;

  @media (min-width: @width-md) {
    grid-template-rows: repeat(3, 1fr);
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    row-gap: 50px;
  }
}

.upload__controls-list.slider__list {
  margin: 0;

  @media (min-width: @width-md) {
    margin-right: 20px;
  }

  @media (min-width: @width-lg) {
    margin-top: 16px;
    margin-right: 92px;
  }
}

.upload__label {
  width: 100%;
}

.upload__control {
  width: 100%;
  height: 2px;

  appearance: none;
  background: @blue-gray;
  outline: none;
}

.upload__control:hover {
  cursor: pointer;
}

.upload__control::-webkit-slider-thumb {
  width: 14px;
  height: 14px;

  background-color: #ffffff;
  border: 2px solid @pinky-red;
  border-radius: 50%;
  cursor: pointer;

  appearance: none;
}

.upload__control::-moz-range-thumb {
  width: 14px;
  height: 14px;

  background-color: #ffffff;
  border: 2px solid @pinky-red;
  border-radius: 50%;
  cursor: pointer;
}

.upload__control::-moz-range-thumb:active,
.upload__control::-webkit-slider-thumb:active {
  background-color: @pinky-red;
}

.upload__controls-item {
  display: flex;
  align-items: center;
  width: 100%;

  @media (max-width: @width-md-only) {
    display: none;
  }

  &.slider__item--current {
    display: flex;
  }
}

.upload__buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: @light-grey2;

  flex-direction: column;

  @media (min-width: @width-md) {
    align-self: end;
    margin-left: 23px;
  }

  @media (min-width: @width-lg) {
    justify-content: start;
    margin-top: 80px;
    margin-left: 0;

    flex-direction: row;
  }
}

.upload__button {
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  color: @pinky-red;

  background-color: inherit;
  border: 3px solid @pinky-red;
  border-radius: 30px;

  @media (min-width: @width-md) {
    width: 260px;
  }

  &:hover {
    color: #ffffff;

    background-color: @pinky-red;
  }

  &:active {
    color: fade(#ffffff, 30%);
  }

  &:not(:last-of-type) {
    @media (max-width: @width-md-only) {
      margin-bottom: 13px;
    }

    @media (min-width: @width-md) and (max-width: @width-lg-only) {
      margin-bottom: 24px;
    }

    @media (min-width: @width-lg) {
      margin-right: 44px;
    }
  }

  &--reset {
    color: @blue-gray;

    opacity: 0.1;

    border-color: @blue-gray;

    &:hover {
      color: @blue-gray;

      background-color: @light-grey2;
      opacity: 0.3;
    }

    &:active {
      color: fade(#ffffff, 30%);

      background-color: @blue-gray;
    }
  }

  @media (min-width: @width-lg) {
    width: 183px;
  }
}
